body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #EEE6FD;
}

a {
	color: #00b7ff;
}

#rectangle {
	position: absolute;
	height: 115%;
	width: 1000px;
	background-color: #f4f4f6;
	z-index: 0;
	margin-right: 40%;
	
}

p {
	position: absolute;
	font-size: 30px;
	margin-right: 140px;
}

#myChart {
	margin-left: -820px;
	position: relative;
	z-index: 1;
}
